/* 
    Created on : 18.04.2016, 20:36:24
    Author     : Felix Bänsch
*/

/*
    Method to supress empty table rows
*/
.table-row-cell:empty{
    -fx-background-color: white;
}
.table-row-cell:empty .table-cell{
    -fx-border-width: 0px;
}

/*.table-view .column-header {
    -fx-size: 25;
}*/


