/* 
    Created on : 23.05.2016, 12:06:34
    Author     : Felix Bänsch
*/
/*
    Method to supress empty listview rows
*/
.list-cell:empty{
    -fx-background-color: white;
    -fx-border-color: white;
}
